<div class="account-product__grid">
  <div class="wishlist_row" data-variant="{{ line_item.product.variants[0].id }}">
    <div class="product-image-box">
      <a href="{{ line_item.product.url }}" class="no-decor">
        <div class="image-box">
          <div class="image_wrapper">
            <img style="width: 100%" src="{{ line_item.product.featured_image | img_url: 100 }}">
          </div>
        </div>
      </a>
    </div>
    <div class="desc-box">
      <div>
        <a href="{{ line_item.product.url }}">
          <p class="product_title">{{ line_item.product.title }}</p>
        </a>
      </div>
      <div class="price-box">
        {% if line_item.product.variants[0].available %}
          <p class="price">{{ line_item.product.price | money }}</p>
        {% else %}
          <div class="account-outofstock">UITVERKOCHT</div>
        {% endif %}
      </div>
      {%- assign current_variant = line_item.product.selected_or_first_available_variant -%}
      <div class="inventory-box">
        <div class="volume_stocks align-items-center">

          {% if line_item.product.metafields.other.Pieces_per_box.value != blank %}
            <div class="account-content">
              <span>{% render 'icon-box-adjusted' %}</span>
              {{ 'products.product.inhoud_stuks' | t: stuks: line_item.product.metafields.other.Pieces_per_box.value }}
            </div>
            &nbsp; | &nbsp;
          {% endif %}

          {% if line_item.product.variants[0].available %}
            {% if current_variant.sku != blank %}
              <div class="sku">SKU: {{ current_variant.sku }}</div>
            {% endif %}

          {% endif %}
        </div>
        {% unless line_item.product.variants[0].available %}
          {% if line_item.product.metafields.custom.alternatief.value != blank %}
            <div class="alternative__products">
              <details class="order-alternative-details" data-target="{{ line_item.product.id }}">
                <summary class="facets__summary caption-large focus-offset">
                  <div>
                    <div class="alternate-box">
                      {% render 'icon-caret' %}
                      <span>Toon alternatieve producten</span>
                    </div>
                  </div>
                </summary>
              </details>
            </div>
          {% endif %}
        {% endunless %}
      </div>

      {% if line_item.product.variants[0].available %}
        <div class="quantity-spinner order-qty-spinner">
          <button class="minus__button order-minus-btn {% unless line_item.product.variants[0].available  %}not-allowed disabled  {% endunless %}" type="button">
            -
          </button>
          <input
            class="quantity__input order-quantity-input {% unless line_item.product.variants[0].available  %}not-allowed disabled  {% endunless %}"
            type="number"
            value="{{ line_item.quantity  }}"
            min="0">
          <button class="plus__button order-plus-btn  {% unless line_item.product.variants[0].available  %} not-allowed disabled  {% endunless %}" type="button">
            +
          </button>
        </div>
      {% endif %}
    </div>
  </div>
  {% unless line_item.product.variants[0].available and line_item.product.metafields.custom.alternatief.value %}
    <div id="order-{{ line_item.product.id }}" class="alternative__product-box">
      <span class="alternative__products-title">Alternatieve producten</span>
      {% for item in line_item.product.metafields.custom.alternatief.value %}
        <div class="wishlist_row" data-variant="{{ item.variants[0].id }}">
          <div class="product-image-boxx">
            <a href="{{ item.url }}" class="no-decor">
              <div class="image-box">
                <div class="image_wrapper">
                  {{ item.featured_image | image_url: width: 100 | image_tag }}
                </div>
              </div>
            </a>
          </div>
          <div class="desc-box">
            <div>
              <a href="{{ item.url }}">
                <p class="product_title">{{ item.title }}</p>
              </a>
            </div>
            {% if item.variants[0].available %}
              <div class="price-box">
                <p class="price">{{ item.price | money }}</p>
              </div>
            {% endif %}
            {%- assign current_variant = item.selected_or_first_available_variant -%}
            <div class="inventory-box">
              <div class="volume_stocks align-items-center">
                {% if item.metafields.other.Pieces_per_box.value != blank %}
                  <div class="account-content">
                    <span>{% render 'icon-box-adjusted' %}</span>
                    {{ 'products.product.inhoud_stuks' | t: stuks: item.metafields.other.Pieces_per_box.value }}
                  </div>
                {% endif %}

                {% if item.variants[0].available %}
                  {% if current_variant.sku != blank %}
                    &nbsp; | &nbsp;
                    <div class="sku">SKU: {{ current_variant.sku }}</div>
                  {% endif %}
                {% endif %}
              </div>
            </div>

            {% if item.variants[0].available %}
              <div class="quantity-spinner orderlist-quantity-spinner">
                <div class="quantity__box">
                  <button class="minus__button orderlist-minus__button {% unless item.variants[0].available  %}not-allowed disabled  {% endunless %}" type="button">
                    &mdash;
                  </button>
                  <input
                    class="quantity__input orderlist-quantity__input {% unless item.variants[0].available  %}not-allowed disabled  {% endunless %}"
                    type="number"
                    value="0"
                    min="0"
                    tabindex="1">
                  <button class="plus__button orderlist-plus__button {% unless item.variants[0].available  %}not-allowed disabled  {% endunless %}" type="button">
                    +
                  </button>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endunless %}
</div>
<script>
  document.querySelectorAll('.order-alternative-details').forEach(function (details) {
    details.addEventListener('toggle', function () {
      var targetId = this.getAttribute('data-target');
      var targetContent = document.getElementById(`order-${targetId}`);
      if (this.open) {
        targetContent.style.display = 'block';
      } else {
        targetContent.style.display = 'none';
      }
    });
  });
</script>